

.background {
  background-image: url('/src/images/acoustic-guitar-072.jpg');
  background-size:cover;
  background-position: center;
  height: 100vh;
}

.forms{
    height: 620px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.063);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 10px 35px;
}
.forms *{
    font-family: 'Poppins',sans-serif;
    color: #66fcf1;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.forms h2{
    text-align: center;
    font-family: "Playwrite CU", cursive;
    color: whitesmoke;
    padding: 5px;
    padding-bottom: 10px;
}

.forms h2 span{
    color: #66fcf1;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
  }
  
.forms h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.forms span{
  color:#ffffff ;
}

.label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    /* text-align: center; */
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #66fcf1;
}
.btn{
    margin: 12px 0px;
    width: 50%;
    background-color: #ffffff;
    align-items: center;
    color: #080710;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-grp{
  display: flex;
  justify-content: center;
}

.btn:hover{
    background-color: #66fcf1;
}


  